<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="./main.css" />
		<script
			src="https://kit.fontawesome.com/cfb8583f4c.js"
			crossorigin="anonymous"
		></script>
		<title>AnkiQuestions</title>
	</head>
	<body>
		<section id="sidebar" class="hide">
			<div class="sidebar__icons">
				<i class="icon fa-solid fa-bars"></i>
				<i class="icon fa-solid fa-house"></i>
				<i class="icon fa-solid fa-file"></i>
				<i class="icon fa-solid fa-pen"></i>
				<i class="icon fa-solid fa-magnifying-glass"></i>
				<i class="icon fa-solid fa-clipboard"></i>
				<i class="icon fa-solid fa-right-to-bracket"></i>
			</div>
			<div class="sidebar__letters">
				<h3 class="categories"></h3>
			</div>
		</section>
		<div class="logo">AnkiQuestions</div>
		<section id="app">
			<div class="app__question">Question Here</div>
			<div class="app__button">
				<button class="btn app__answer">See Answer</button>
				<button class="btn app__next">Next Question</button>
			</div>
		</section>

		<script src="./script.js"></script>
	</body>
</html>
