<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="./main.css" />
		<script
			src="https://kit.fontawesome.com/cfb8583f4c.js"
			crossorigin="anonymous"
		></script>
		<title>AnkiQuestions</title>
	</head>
	<body>
		<section id="sidebar" class="hide">
			<div class="sidebar__icons">
				<i class="icon fa-solid fa-bars"></i>
				<i class="icon fa-solid fa-house"></i>
				<i class="icon fa-solid fa-file"></i>
				<i class="icon fa-solid fa-pen"></i>
				<i class="icon fa-solid fa-magnifying-glass"></i>
				<!-- 				<i class="icon fa-solid fa-clipboard"></i> -->
				<i
					class="icon fa-solid fa-right-to-bracket"
					onClick="location.href='/'"
				></i>
			</div>
			<div class="sidebar__letters">
				<div class="categories">
					<h3>Categories</h3>
					<button>All</button>
				</div>
			</div>
		</section>
		<div class="logo">AnkiQuestions</div>
		<span class="current-category">All</span>
		<section id="app">
			<div class="app__question">Question Here</div>
			<div class="app__button">
				<button class="btn app__answer">See Answer</button>
				<div class="answer hide">
					Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem
					molestias consequuntur iusto tempora rem in iure dolor nam! Possimus,
					aliquam. Cumque excepturi, cupiditate officiis illum fuga earum
					quisquam numquam unde.
				</div>
				<button class="btn app__next">Next Question</button>
			</div>
		</section>

		<script type="module" src="./script.js"></script>
	</body>
</html>
