 <div id="barraLateral">
                <h1 onclick="location.href='http://localhost:3000/app'">AnkiQuestion</h1>
                <div class="categoriaActual">
                    <h2>Categoria Actual</h2>
                </div>
                <div class="categorias">
                    <div class="titulo">
                        <h3>Categorias</h3>
                    </div>
                </div>
                <div class="configuracionMarcador">
                    <div class="cuadrito solo1">1</div>
                    <div class="cuadrito solo10">10</div>
                    <div class="cuadrito solo25">25</div>
                    <div class="cuadrito solo50">50</div>
                </div>
                <div class="nombreUsuario">Rux Castillo</div>
            </div>