<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./iniciarsesion.css" />
    <title>AnkiQuestions Iniciar Sesion</title>
</head>
<body>
    <section>
        <h1>AnkiQuestions</h1>
        <p>Bienvenido, ingresa tus credenciales para entrar a la app:</p>
        <form id="iniciar-sesion">
            <label for="usuario">Nombre de usuario:</label>
            <input type="text" id="usuario" placeholder="Ingresa tu nombre de usuario aqui..."/>
            <label for="contraseña">Contraseña:</label>
            <input type="password" id="contraseña" placeholder="Ingresa tu contraseña aqui..."/>
        </form>
        <p><a href="/cambio-contraseña">¿Olvidaste la contraseña?</a></p>
        <p>Todavia no estas registrado.<a href="/registrarse"> Registrate.</a></p>

    </section>
    
    <script src="iniciarsesion.js"></script>
</body>
</html>