<!DOCTYPE html>
<html lang="es">
    <head>
        <link rel="stylesheet" href="./laApp.css" />
        <link rel="stylesheet" href="./Roca Regular.ttf" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta charset="UTF-8" />
        <title>AnkiQuestion App</title>
    </head>
    <body>
        <main>

            <div id="barraLateral">
                <h1>AnkiQuestion</h1>
                <div class="categoriaActual">
                    <h2>Categoria Actual</h2>
                </div>
                <div class="categorias">
                    <div class="titulo">
                        <h3>Categorias</h3>
                    </div>
                    <div class="cuadroCategoria"></div>
                    <div class="cuadroCategoria"></div>
                </div>
                <div class="configuracionMarcador">configuracionMarcador</div>
                <div class="nombreUsuario">nombre Usuario</div>
            </div>

            <div id="app">
                <div class="preguntaInfo">
                    <div class="info">I</div>
                    <div class="pregunta">preguntas</div>
                </div>
                <div class="respuestas">
                    <div class="respuestaUsuario"></div>
                    <div class="respuestaCorrecta"></div>
                </div>
                <div class="botones">
                    <div class="botonesMal">
                        <div class="divLosBotones">
                            <div class="otraPregunta">
                                <button>otra pregunta</button>
                            </div>
                            <div class="nuevaPregunta">
                                <button>nueva pregunta</button>
                            </div>
                        </div>
                        <div class="mal">
                            <button>Mal</button>
                        </div>
                    </div>
                    <div class="bienContador">
                        <div class="bien">
                            <button>Bien</button>
                        </div>
                        <div class="contador">
                            <div class="contadorMal"></div>
                            <div class="contadorBien"></div>
                        </div>
                    </div>
                </div>
            </div>

        </main>
    </body>
</html>