<!DOCTYPE html>
<html lang="es">
    <head>
        <link rel="stylesheet" href="./laApp.css" />
        <link rel="stylesheet" href="./barra lateral.css" />
        <link rel="stylesheet" href="./Roca Regular.ttf" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta charset="UTF-8" />
        <title>AnkiQuestion App</title>
    </head>
    <body>
        <main>

            <%- include("./barra lateral") %>

            <div id="app">
                <div class="preguntaInfo">
                    <div class="info">i</div>
                    <div class="pregunta"><p class="textoPregunta">Selecciona una categoria para iniciar con las preguntas. ¡Tu puedes conseguir ese trabajo que quieres!</p></div>
                    <div class="numeroId"><p>0</p></div>
                </div>
                <div class="respuestas">
                    <div class="respuestaUsuario">
                        <textarea></textarea>
                    </div>
                    <div class="respuestaCorrecta">
                        <textarea></textarea>
                    </div>
                        <button>Ver Respuesta</button>
                </div>
                <div class="botones">
                    <div class="botonesMal">
                        <div class="divLosBotones">
                            <div class="otraPregunta">
                                <button onclick="location.href='http://localhost:3000/editandopreguntaporid'">Editar/Agregar pregunta</button>
                            </div>
                            <div class="nuevaPregunta">
                                <button>Nueva pregunta</button>
                            </div>
                        </div>
                        <div class="mal">
                            <button>Mal</button>
                        </div>
                    </div>
                    <div class="bienContador">
                        <div class="bien">
                            <button>Bien</button>
                        </div>
                        <div class="contador">
                            <div class="contadorMal">0</div>
                            <div class="raya"></div>
                            <div class="contadorBien">0</div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <script id="serverData"> <%- JSON.stringify(home)%> </script>
        <script src="laApp.js"></script>
    </body>
</html>