<!DOCTYPE html>
<html lang="es">
    <head>
        <link rel="stylesheet" href="./laApp.css" />
        <link rel="stylesheet" href="./Roca Regular.ttf" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta charset="UTF-8" />
        <title>AnkiQuestion App</title>
    </head>
    <body>
        <main>

            <div id="barraLateral">
                <h1>AnkiQuestion</h1>
                <div class="categoriaActual">
                    <h2>Categoria Actual</h2>
                </div>
                <div class="categorias">
                    <div class="titulo">
                        <h3>Categorias</h3>
                    </div>
                </div>
                <div class="configuracionMarcador">
                    <div class="cuadrito solo1">1</div>
                    <div class="cuadrito solo10">10</div>
                    <div class="cuadrito solo25">25</div>
                    <div class="cuadrito solo50">50</div>
                </div>
                <div class="nombreUsuario">Rux Castillo</div>
            </div>

            <div id="app">
                <div class="preguntaInfo">
                    <div class="info">i</div>
                    <div class="pregunta"><p class="textoPregunta">hola</p></div>
                </div>
                <div class="respuestas">
                    <div class="respuestaUsuario">
                        <textarea></textarea>
                    </div>
                    <div class="respuestaCorrecta">
                        <textarea></textarea>
                    </div>
                </div>
                <div class="botones">
                    <div class="botonesMal">
                        <div class="divLosBotones">
                            <div class="otraPregunta">
                                <button>otra pregunta</button>
                            </div>
                            <div class="nuevaPregunta">
                                <button>nueva pregunta</button>
                            </div>
                        </div>
                        <div class="mal">
                            <button>Mal</button>
                        </div>
                    </div>
                    <div class="bienContador">
                        <div class="bien">
                            <button>Bien</button>
                        </div>
                        <div class="contador">
                            <div class="contadorMal"></div>
                            <div class="raya"></div>
                            <div class="contadorBien"></div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <script id="serverData"> <%- JSON.stringify(home)%> </script>
        <script src="laApp.js"></script>
    </body>
</html>