
    <main>
        <div>
            <h2>¡Bienvenido a</h2>
            <h1>AnkiQuestions!</h1>
            <button>Registrarse</button>
            <button>IniciarSesion</button>
            <img src="" />
            <button class="pageDown"></button>
        </div>
        <div>
            <h3></h3>
            <img src="" />
            <h4></h4>
            <p></p>
            <img src="" />
            <h4></h4>
            <p></p>
            <img src="" />
            <h4></h4>
            <p></p>
            <button class="pageDown"></button>
        </div>
        <div>
            <h3></h3>
            <p></p>
            <img src="" />
            <img src="" />
        </div>
    </main>
