<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="./landing page/main.css" />
		<title>AnkiQuestions</title>
	</head>
	<body>
		<main id="landingPage" class="flex-center-all-column">
			<section class="welcome">
				<div class="welcome__left">
					<h2>Welcome to</h2>
					<h1>AnkiQuestions!</h1>
					<button
						class="btn-welcome btn-admin"
						onclick="location.href='/registrarse'"
					>
						Login <span class="span-admin">(Admin)</span>
					</button>
					<button
						class="btn-welcome btn-project"
						onclick="location.href='/app'"
					>
						See project
					</button>
				</div>
				<div class="welcome__right">
					<img src="./landing page/assets/libros.png" />
				</div>
			</section>

			<section class="demostration flex-center-all-column" id="demostration">
				<h3>How it works?</h3>
				<div class="demostration__main flex-center-all">
					<div class="card step1">
						<div class="imgOrange">
							<div class="fondoNaranja"></div>
							<img
								class="imagenFlotante1 flotantes"
								src="./landing page/assets/reloj.png"
							/>
							<div class="sombra"></div>
						</div>
						<div class="pasosTitulo">
							<h4>Step 1</h4>
						</div>
						<p>Transform your study notes into question format</p>
					</div>
					<div class="card step2">
						<div class="imgOrange">
							<div class="fondoNaranja"></div>
							<img
								class="imagenFlotante2 flotantes"
								src="./landing page/assets/silbato.png"
							/>
							<div class="sombra"></div>
						</div>
						<div class="pasosTitulo">
							<h4>Step 2</h4>
						</div>
						<p>
							Study by implementing techniques such as Active Recall and not
							just Passive Learning in an easy way
						</p>
					</div>
					<div class="card step3">
						<div class="imgOrange">
							<div class="fondoNaranja"></div>
							<img
								class="imagenFlotante3 flotantes"
								src="./landing page/assets/trofeo.png"
							/>
							<div class="sombra"></div>
						</div>
						<div class="pasosTitulo">
							<h4>Step 3</h4>
						</div>
						<p>
							By complementing your study with this website, you will achieve
							your goals more quickly
						</p>
					</div>
				</div>
			</section>

			<section class="tercerP flex-center-all" id="terceraPagina">
				<div class="letras flex-center-all-column">
					<div class="centerTitulo">
						<h3>Results</h3>
					</div>
					<p>
						Using this app you can achieve surprising results on your exams or
						studying to get the job of your dreams. You can store your
						AnkiQuestions by categories and customize your experience.
					</p>
				</div>
				<div class="estadistica">
					<div class="num30">0</div>
					<div class="num25">30</div>
					<div class="num20">25</div>
					<div class="num15">20</div>
					<div class="num10">15</div>
					<div class="num5">10</div>
					<div class="num0">5</div>
					<div class="lineabr uno"></div>
					<div class="lineabr dos"></div>
					<div class="lineabr tres"></div>
					<div class="lineabr cuatro"></div>
					<div class="lineabr cinco"></div>
					<div class="lineabr seis"></div>
					<div class="barras menos-color barra1"></div>
					<div class="barras barra2"></div>
					<div class="barras menos-color barra3"></div>
					<div class="barras barra4"></div>
					<div class="textos texto1">Normal study</div>
					<div class="textos texto2">With AnkiQuestions</div>
					<div class="textos texto3">Normal study</div>
					<div class="textos texto4">With AnkiQuestions</div>
				</div>
				<div class="persona flex-center-all">
					<div class="invitadoBoton">
						<button onclick="location.href='/app'">See project</button>
					</div>
					<div class="muñeca">
						<img src="./landing page/assets/muñeca.png" />
					</div>
				</div>
			</section>
		</main>
	</body>
</html>
