    <%- include("./header") %>

    <main id="landingPage">
        <div class="primeraP">
            <h2>¡Bienvenido a</h2>
            <h1>AnkiQuestions!</h1>
            <button class="primerB">Registrarse</button>
            <button class="segundoB">Iniciar Sesion</button>
            <img src="./libros.png" />
            <button class="pageDown"><img src="./arrowdown.png" /></button>
        </div>
        <div class="segundaP">
            <h3>Demostracion</h3>
            <div class="paso1">
                <div class="imgOrange">
                    <div class="fondoNaranja"></div>
                    <img class="imagenFlotante1" src="./reloj.png" />
                    <div class="sombra"></div>
                </div>
                <div class="pasosTitulo">
                    <h4>Paso 1</h4>
                </div>
                <p>Pasa tus notas de estudio a formato preguntas</p>
            </div>
            <div class="paso2">
                <div class="imgOrange">
                    <div class="fondoNaranja"></div>
                    <img class="imagenFlotante2" src="./silbato.png" />
                    <div class="sombra"></div>
                </div>
                <div class="pasosTitulo">
                    <h4>Paso 2</h4>
                </div>
                <p>Estudia usando técnicas como active recall y no solo passive learning</p>
            </div>
            <div class="paso3">
                <div class="imgOrange">
                    <div class="fondoNaranja"></div>
                    <img class="imagenFlotante3" src="./trofeo.png" />
                    <div class="sombra"></div>
                </div>
                <div class="pasosTitulo">
                    <h4>Paso 3</h4>
                </div>
                <p>Complementando tu estudio con esta web, conseguiras tus metas mas rapidamente</p>
            </div>
            <button class="pageDown"><img id="flechaAbajo" src="./arrowdown.png" /></button>
        </div>
        <div class="tercerP">
            <div class="letras">
                <div class="centerTitulo">
                    <h3>Resultados</h3>
                </div>
                <p>Usando esta app podras lograr resultados sorprendentes en tus examenes o estudiando para conseguir el trabajo de tus sueños. Podras almacenar tus AnkiQuestions por categorias y customizar tu experiencia.</p>
            </div>
            <div class="estadistica">
                <div class="num25">25</div>
                <div class="num20">20</div>
                <div class="num15">15</div>
                <div class="num10">10</div>
                <div class="num5">5</div>
                <div class="num0">0</div>
                <div class="uno"></div>
                <div class="dos"></div>
                <div class="tres"></div>
                <div class="cuatro"></div>
                <div class="cinco"></div>
                <div class="seis"></div>
                <div class="barra1"></div>
                <div class="barra2"></div>
                <div class="barra3"></div>
                <div class="barra4"></div>
                <div class="texto1">Estudio normal</div>
                <div class="texto2">Con AnkiQuestions</div>
                <div class="texto3">Estudio normal</div>
                <div class="texto4">Con AnkiQuestions</div>
            </div>
            <div class="persona">
                <div class="invitadoBoton">
                    <button onclick="location.href='http://localhost:3000/app'">Ingresa como invitado</button>
                </div>
                <img src="./muñeca.png" />
            </div>
        </div>
    </main>

        <% include("./footer") %>