









.bienContador .contador {
    height: 100%;
    width: 100%;
    background-color: orange;
    grid-column: 2/3;
}

.bien button {
    width: 43%;
    height: 25%;
    border-radius: 10px;
    border: 4px solid green;
}

.bienContador .bien {
    height: 100%;
    width: 100%;
    grid-column: 1/2;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 10%;
}

.botones .bienContador {
    height: 100%;
    width: 100%;
    background-color: purple;
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 3fr 2.5fr;
}

.mal button {
    width: 35%;
    height: 25%;
    border-radius: 10px;
    border: 4px solid red;
}

.botonesMal .mal {
    height: 100%;
    width: 100%;
    grid-column: 2/3;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 10%;
}

.divLosBotones .nuevaPregunta button {
    border: 3px solid black;
    border-radius: 10px;
    height: 100%;
    width: 100%;
}

.divLosBotones .otraPregunta button {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 3px solid black;

}

.divLosBotones div {
    width: 50%;
    height: 35px;
}

.botonesMal .divLosBotones {
    height: 100%;
    width: 100%;
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}

.botones .botonesMal {
    height: 100%;
    width: 100%;
    background-color: burlywood;
    grid-column: 1/2;
    display: grid;
    grid-template-columns: 2fr 4fr;
}

#app .botones {
    display: grid;
    height: 20%;
    width: 100%;
    background-color: forestgreen;
    grid-template-columns: 1fr 1fr;

}

.respuestaCorrecta textarea {
    width: 80%;
    height: 80%;
    border: 3px solid black;
}

.respuestas .respuestaCorrecta {
    justify-content: center;
    align-items: center;
    grid-column: 2/3;
    width: 100%;
    height: 100%;
    display: flex;
}

.respuestaUsuario textarea {
    width: 80%;
    height: 80%;
    border: 3px solid black;
}

.respuestas .respuestaUsuario {
    grid-column: 1/2;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#app .respuestas {
    height: 60%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.pregunta .textoPregunta {
    font-size: 2rem;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    line-height: 2.2rem;
    text-wrap: wrap;
    text-align: center;
}

.preguntaInfo .pregunta {
    grid-column: 1/3;
    display: table;
    grid-row: 1/3;
    width: 90%;
    height: 80%;
    margin: auto;
}

.preguntaInfo .info {
    grid-column: 2/3;
    grid-row: 1/2;
    width: 100%;
    height: 100%;
    z-index: 3;
    border-radius: 50%;
    position: relative;
    right: 20px;
    top: 5px;
    border: 4px solid #F66B1D;
    text-align: center;
    color: #F66B1D;
    font-size: 1.2rem;
}

#app .preguntaInfo {
    height: 20%;
    width: 100%;
    background-color: beige;
    display: grid;
    grid-template-columns: 1fr 30px;
    grid-template-rows: 30px 1fr;
}

#barraLateral .nombreUsuario {
    height: 10%;
    width: 100%;
}

#barraLateral .configuracionMarcador {
    height: 10%;
    width: 100%;
}

.categorias .titulo {

}

#barraLateral .categorias {
    height: 60%;
    width: 100%;
    display: grid; 
    grid-template-rows: repeat(10, 1fr);
    grid-auto-rows: 1fr;
    border: 1px solid black;
}

.categoriaActual h2 {
    font-size: 1.5rem;
    font-family: "Roca one", serif;
    text-align: center;
    font-size: 1.5rem;
    vertical-align: middle;    
    display: table-cell;

}

#barraLateral .categoriaActual {
    height: 10%;
    width: 100%;
    display: table;
}

#barraLateral h1 {
    height: 10%;
    width: 100%;
    font-family: "Roca one", serif;
    text-align: center;
    font-size: 2.5rem;
}

#app {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: aqua;

}

/* css de #app de aqui hacia arriba */

#barraLateral {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: orange;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Roca one";
    src: url("./Roca\ Regular.ttf") format("truetype");
}











