.demostration {
	height: 70rem;
	font-family: 'Roca one', serif;
	width: 100%;
}

.demostration h3 {
	font-size: 7rem;
	font-weight: 100;
	color: var(--tertiary-color);
	margin-bottom: 2.5rem;
}

.demostration__main {
	height: 60rem;
	width: 100%;
	justify-content: space-evenly;
}

.card {
	color: #1f5692;
	width: 45rem;
	padding: 2rem;
}

.imgOrange {
	height: 25rem;
	width: 30rem;
	position: relative;
	margin: auto;
	margin-bottom: 4rem;
}

.fondoNaranja {
	height: 25rem;
	width: 30rem;
	position: absolute;
	color: #f66b1d;
	border-radius: 25px;
	background-color: #f66b1d;
	z-index: 1;
}

.sombra {
	position: absolute;
	height: 10%;
	width: 70%;
	margin: 0px auto;
	color: gray;
	z-index: 0;
	background-color: gray;
	bottom: -5%;
	right: 15%;
	opacity: 0.5;
	border-radius: 45%/50%;
}

.flotantes {
	position: absolute;
	height: 100%;
	z-index: 5;
}

.imagenFlotante1 {
	width: 100%;
	right: -8%;
	top: -8%;
}

.imagenFlotante2 {
	width: 135%;
	right: -18%;
}

.imagenFlotante3 {
	height: 110%;
	width: 115%;
	top: -35px;
	left: -40px;
}

.demostration .pasosTitulo {
	text-align: center;
	font-family: sans-serif;
}

.demostration h4 {
	height: 4rem;
	text-align: center;
	justify-self: end;
	align-self: end;
	font-size: 3rem;
}

.demostration p {
	padding-top: 20px;
	height: 9rem;
	font-size: 2.25rem;
	text-align: center;
	font-weight: 400;
	font-family: sans-serif;
}

@media (max-width: 1050px) {
	.demostration {
		height: 150rem;
	}
	.demostration__main {
		flex-direction: column;
		height: 145rem;
	}
	.demostration p {
		padding-top: 2px;
	}
	.imagenFlotante3 {
		top: -15px;
		left: -20px;
	}
}
