.pageDown img {
	width: 130%;
	height: 160%;
	position: relative;
	top: 2px;
}

.flex-center-all {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-center-all-column {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.btn-welcome {
	font-weight: bold;
	font-size: 2rem;
	border-radius: 1.5rem;
	align-self: start;
	margin: 2rem;
	display: inline;
	justify-self: end;
	width: 25rem;
	height: 6.5rem;
	letter-spacing: 0.5px;
}

button:active {
	transform: scale(0.98);
}
