.welcome {
	height: 110rem;
	min-height: fit-content;
	display: flex;
	justify-content: center;
	font-family: 'Roca one', serif;
	font-weight: 100;
	width: 100%;
	padding-top: 25rem;
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 70%);
	background-color: var(--primary-color);
	margin: auto;
	border-radius: 1.5rem;
}

.welcome__left {
	flex: 0 0 40%;
	text-align: center;
}

.welcome__right {
	height: 70rem;
}

.welcome h1 {
	color: #1f5692;
	font-size: 14rem;
	font-weight: 200;
}

.welcome h2 {
	color: #1f5692;
	font-size: 10rem;
	font-weight: 100;
}

.btn-welcome {
	margin-top: 7rem;
}

.welcome .btn-admin {
	color: #f66b1d;
	background-color: #e1efff;
	border: 3px solid #f66b1d;
}

.welcome .admin {
	font-size: 1rem;
}

.welcome .btn-project {
	color: #e1efff;
	background-color: #f66b1d;
	border: none;
}

.welcome img {
	height: 100%;
}
